:root{
	--white: #fff;
	--gray: rgb(131, 131, 131);
	--blue: #297fff;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

body{
	background-image: url("../img/background.webp");
	display: flex;
	align-items: center;
	justify-content: center;
}

.container{
	margin-top: 2rem;
	padding: 2rem;
	background: var(--white);
	border-radius: 15px;

	width: 45%;
}

#taskForm{
	margin-top: 1rem;
	display: flex;
}

#taskForm input{
	margin-right: .7rem;
	padding: .4rem;
	outline: none;
	border: 1px solid var(--gray);
	border-radius: 7px;
}

#taskForm select {
	margin-right: .7rem;
	padding: .4rem;
	outline: none;
	border: 1px solid var(--gray);
	border-radius: 7px;
}

#taskForm button {
	padding: .4rem 1rem;
	outline: none;
	background: var(--blue);
	color: var(--white);
	border: none;
	border-radius: 7px;
}

#filterSection{
	margin-top: 1rem;
}

#filterSection h3{
	margin-bottom: .7rem;
}

#filterSection select {
	margin-right: .7rem;
	padding: .4rem;
	outline: none;
	border: 1px solid var(--gray);
	border-radius: 7px;
}

#filterSection input {
	margin-right: .7rem;
	padding: .4rem;
	outline: none;
	border: 1px solid var(--gray);
	border-radius: 7px;
}